In [7]:
import pandas as pd
import requests

1) Using the code from the lesson as a guide and the REST API from https://python.zach.lol/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [4]:
base_url = 'https://python.zach.lol/api/v1/items'

In [5]:
response = requests.get(base_url)

In [6]:
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [7]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [12]:
items_list = []

response = requests.get('https://python.zach.lol/api/v1/items')
data = response.json()
n = data['payload']['max_page']

for i in range(1,n+1):
    url = 'https://python.zach.lol/api/v1/items?page='+str(i)
    response = requests.get(url)
    data = response.json()
    items = data['payload']['items']
    items_list += items

In [13]:
items = pd.DataFrame(items_list)

In [20]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

2) Do the same thing, but for stores (https://python.zach.lol/api/v1/stores)

In [17]:
base_url = 'https://python.zach.lol/api/v1/stores'

In [18]:
response = requests.get(base_url)

In [16]:
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [17]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [21]:
stores = []

response = requests.get('https://python.zach.lol/api/v1/stores')
data = response.json()
n = data['payload']['max_page']

for i in range(1,n+1):
    url = 'https://python.zach.lol/api/v1/stores?page='+str(i)
    response = requests.get(url)
    data = response.json()
    stores_list = data['payload']['stores']
    stores += stores_list

In [23]:
stores = pd.DataFrame(stores)

In [41]:
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

3) Extract the data for sales (https://python.zach.lol/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [38]:
response = requests.get('https://python.zach.lol/api/v1/sales')

In [39]:
data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [40]:
data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [36]:
sales_list = []

response = requests.get('https://python.zach.lol/api/v1/sales')
data = response.json()
n = data['payload']['max_page']

for i in range(1,n+1):
    url = 'https://python.zach.lol/api/v1/sales?page='+str(i)
    response = requests.get(url)
    data = response.json()
    sales_items = data['payload']['sales']
    sales_list += sales_items

In [33]:
sales = pd.DataFrame(sales_list)

In [58]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

4) Save the data in your files to local csv files so that it will be faster to access in the future.

In [45]:
items.to_csv('items.csv')

In [46]:
stores.to_csv('stores.csv')

In [47]:
sales.to_csv('sales.csv')

5) Combine the data from your three separate dataframes into one large dataframe.

In [2]:
items_sales = items.merge(sales, left_on='item_id', right_on='item')

NameError: name 'items' is not defined

In [63]:
items_sales_stores = items_sales.merge(stores, left_on='store', right_on='store_id')

In [3]:
items_sales_stores.to_csv('merged.csv')

NameError: name 'items_sales_stores' is not defined

6) Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [3]:
power_df = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [10]:
power_df.to_csv('power_df.csv')